<div class="novix-tray-container">

  <!-- TRAY CONTENTS -->
  @if (templateIsRendered()) {
    <div class="novix-tray-content"
        [class.openLeftRight]="isOpen() && isVertical() == false"
        [class.openTopBottom]="isOpen() && isVertical()"
        [class.attach-left]="attachDirection() === 'left'"
        [class.attach-right]="attachDirection() === 'right'"
        [class.attach-top]="attachDirection() === 'top'"
        [class.attach-bottom]="attachDirection() === 'bottom'"
        [class.rounded-end-lg]="rounded() && !showHandle() && attachDirection() === 'left'"
        [class.rounded-start-lg]="rounded() && !showHandle() && attachDirection() === 'right'"
        [class.rounded-bottom-lg]="rounded() && !showHandle() && attachDirection() === 'top'"
        [class.rounded-top-lg]="rounded() && !showHandle() && attachDirection() === 'bottom'"
        [style.width]="isVertical() === false && trayDimension()"
        [style.height]="isVertical() && trayDimension()"
        [style.background]="contentsBackground()"
        [style.color]="contentsColor()"
        [style.border-color]="contentsBorderColor()">
      <div class="novix-tray-inner">
        <!-- OPTIONAL HEADER -->
        <ng-content select="tray-header"></ng-content>
        @if (trayHeader) { <hr /> }
        <ng-content select="tray-content"></ng-content>
      </div>
    </div>
  }

  <!-- TRAY HANDLE -->
  @if (showHandle()) {
    <div #trayHandleRef
        class="novix-tray-handle"
        [class.attach-left]="attachDirection() === 'left'"
        [class.attach-right]="attachDirection() === 'right'"
        [class.attach-top]="attachDirection() === 'top'"
        [class.attach-bottom]="attachDirection() === 'bottom'"
        [class.rounded-end-lg]="rounded() && !isVertical() && attachDirection() === 'left'"
        [class.rounded-start-lg]="rounded() && !isVertical() && attachDirection() === 'right'"
        [class.rounded-bottom-lg]="rounded() && isVertical() && attachDirection() === 'top'"
        [class.rounded-top-lg]="rounded() && isVertical() && attachDirection() === 'bottom'"
        [style.left]="attachDirection() === 'left' ? handleOffset() : null"
        [style.right]="attachDirection() === 'right' ? handleOffset() : null"
        [style.top]="attachDirection() === 'top' ? handleOffset(): null"
        [style.bottom]="attachDirection() === 'bottom' ? handleOffset(): null"
        [style.background]="handleBackground()"
        [style.color]="handleColor()"
        [style.font-family]="handleFontFamily()"
        [style.font-size]="handleFontSize()"
        (click)="toggleTray()">
      <span class="fw-medium">{{ handleText() ?? '⋮' }}</span>
    </div>
  }

</div>
