<div class="novix-tray-container">

  <!-- TRAY CONTENTS -->
  <div class="novix-tray-content"
       [class.open]="isOpen()"
       [class.rounded-end-lg]="!showHandle() && rounded()"
       [style.width]="contentWidth()"
       [style.background]="contentsBackground()"
       [style.color]="contentsColor()"
       [style.border-color]="contentsBorderColor()">
    <div class="novix-tray-inner">
      <!-- OPTIONAL HEADER -->
      <ng-content select="tray-header"></ng-content>
      @if (trayHeader) { <hr /> }
      <ng-content select="tray-content"></ng-content>
    </div>
  </div>

  <!-- TRAY HANDLE -->
  @if (showHandle()) {
    <div #trayHandleRef
        class="novix-tray-handle"
        [class.rounded-end-lg]="rounded()"
        [style.left]="handleLeft()"
        [style.background]="handleBackground()"
        [style.color]="handleColor()"
        [style.font-family]="handleFontFamily()"
        [style.font-size]="handleFontSize()"
        (click)="toggleTray()">
      <span class="fw-medium">{{ handleText() ?? '⋮' }}</span>
    </div>
  }

</div>
