:host {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.novix-tray-container {
  background-color: rgba(0,255,0,.15);
  height: 100%;
  z-index: 1000;
  container: layout;
}

.novix-tray-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 285px;
  height: 100%;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-left: none;

  &.open {
    transform: translateX(0);
  }
}

.novix-tray-inner {
  padding: 1rem;
}

.novix-tray-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  cursor: pointer;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease;
  padding: 0.1rem;
}
