@use 'novix-engine/styles/placeholders';

:host {
  z-index: 1000;
  position: fixed;
  display: flex;
  transition:
    left 0.3s ease,
    right 0.3s ease,
    top 0.3s ease,
    bottom 0.3s ease;

  &.v-align-top {
    top: 0 !important;
    bottom: auto !important;
  }

  &.v-align-center {
    top: 50% !important;
    bottom: auto !important;
    transform: translateY(-50%);
  }

  &.v-align-bottom {
    top: auto !important;
    bottom: 0 !important;
  }

  &.h-align-start {
    left: 0 !important;
    right: auto !important;
  }

  &.h-align-center {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
  }

  &.h-align-end {
    left: auto !important;
    right: 0 !important;
  }

  &.attach-left {
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    flex-direction: row-reverse;
  }

  &.attach-right {
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    flex-direction: row;
  }

  &.attach-left,
  &.attach-right {
    .novix-tray-handle {
      writing-mode: vertical-lr;
      @extend %px-1;
    }
  }

  &.attach-top {
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    flex-direction: column-reverse;
  }

  &.attach-bottom {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
  }

  &.attach-top,
  &.attach-bottom {
    .novix-tray-handle {
      writing-mode: horizontal-tb;
      @extend %py-1;
    }
  }
}

.novix-tray-handle {
  cursor: pointer;
  text-align: center;
  background-color: var(--novix-primary);
  color: var(--novix-on-primary);
  font-size: var(--novix-size-xs);
  font-family: var(--novix-font-family);
}

.novix-tray-content {
  flex: 1;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: var(--novix-primary);
  background-color: var(--novix-surface-variant);
  color: var(--novix-on-surface);

  @extend %p-3;
}
