table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: solid 1px var(--novix-on-background);
    // @extend .p-4;
  }

  th {
    background-color: var(--novix-neutral-variant);
  }
}
