@use 'novix-engine/styles/placeholders' as *;
@use '../../styles/styles-placeholders.scss';

.sectionHeader {
 @extend %fs-2;
 @extend %fw-bold;
}

table {
  @extend %common-table;
}

.engineThemeInfoTable {
  @extend %common-table;
  td:first-child {
    color: var(--novix-on-background) !important;
    @extend %fw-normal;
  }
  td:last-child {
    opacity: 1;
  }
}

.warning {
  @extend %bg-neutral-variant;
  @extend %border-start-neutral;
  @extend %border-start-5;
  @extend %fw-medium;
  @extend %p-1;
}
