<!-- HANDLES -->
<div class="novix-cabinet-handle-container">
  @for (tray of trays.toArray(); track tray.trayId()) {
    <div class="novix-cabinet-tray-handle"
         #handleElement
         [class.is-active]="tray.isOpen()"
         (click)="toggleTray(tray.trayId())">

      {{ tray.handleText() }}
    </div>
  }
</div>

<!-- TRAYS -->
<div class="novix-cabinet-trays">
  @for (tray of trays.toArray(); track tray.trayId()) {
    <div class="novix-cabinet-tray" [class.open]="tray.isOpen()" #trayElement>
      <ng-container *ngTemplateOutlet="tray.templateRef"></ng-container>
    </div>
  }
</div>
