<!-- HANDLES -->
<div class="novix-cabinet-handle-container">
  @for (tray of trays.toArray(); track tray.trayId()) {
    <div class="novix-cabinet-tray-handle"
         [class.is-active]="tray.isOpen()"
         (click)="toggleTray(tray.trayId())">

      {{ tray.trayHandleText() }}
    </div>
  }
</div>

<!-- TRAYS -->
<div class="novix-cabinet-trays">
  @for (tray of trays.toArray(); track tray.trayId()) {
    <div class="novix-cabinet-tray" [class.open]="tray.isOpen()" #container>
    </div>
  }
</div>
