/* You can add global styles to this file, and also import other style files */
@use 'novix-engine/styles' as *;
@use 'novix-engine/styles/themes/novix-default-light-theme';
@use 'novix-engine/styles/themes/novix-default-dark-theme';
@use './app/themes/blue-theme.scss';
@use './app/themes/rose-theme.scss';
@use './app/themes/mint-theme.scss';
@import 'prismjs/themes/prism-okaidia.css';

body {
  padding-bottom: 30px !important;
}

.code-line {
  font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;
  font-size: 0.875rem;
  background-color: var(--novix-surface-variant);
  padding: 2px 5px;
}
