/* You can add global styles to this file, and also import other style files */
@use 'novix-engine/styles' as *;
@use 'novix-engine/styles/themes/novix-default-light-theme';
@use 'novix-engine/styles/themes/novix-default-dark-theme';
@use './app/themes/blue-theme.scss';
@use './app/themes/rose-theme.scss';
@use './app/themes/mint-theme.scss';
@import 'prismjs/themes/prism-okaidia.css';

body {
  @include p(5, b);
}

p.no-top {
  @include m(0, t);
}

.code-line {
  font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;
  background-color: var(--novix-surface-variant);
  padding: 2px 5px;
  @include fs(5);
}

.sectionHeader {
  @include fs(3);
  @include fw-bold;
}

.linkButton {
  @include text(primary);
  @include text(secondary, $state: hover);
  @include cursor(pointer);
}

.demo-box {
  @include bg(surface);
  @include border-width(1);
  @include border-color(surface);
  @include p(3);
}
